glut-3.7.6-bin/*
glut-3.7.6-bin/
sourceAndExe/*
Debug/*
glm/*
glm/
images/
Dist/
oldfiles/*
Makefile
AS3
Raytracer/as2
as3
.DS_Store
glut32.dll
output.png

# Compiled Object files
*.o

# Compiled Static libraries
*.a

# log files
*.txt

# XCode Files
*.1
final

#documents
*.pdf
*.ppt

#VS files
*.sdf
*.opensdf
*.sln
*.suo
*.vcxproj
*.filters
*.user

#glut
glut.def








